.cntnr {
  display: grid;
  grid-template-columns: 33% 1fr; /* 30% for the left column, the rest for the right */
  /* Optional spacing between columns */
}

.main-display {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.formBox {
  min-width: 80%;
  margin-top: 20px;
  padding: 50px;
  align-self: center;
  background: linear-gradient(135deg, #5db2ff 0%, #3a7bd5 100%);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.formBox label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: white;
  font-size: 24px;
}

.formBox textarea {
  width: 100%;
  min-height: 180px;
  margin-right: 40px;
  align-self: center;
  margin-left: 40px;
  padding: 12px;
  resize: none;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
  margin-bottom: 20px;
}

.formBox p {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  color: white;
  font-weight: 600;
}


.radio-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.radio-label {
  position: relative;
  padding-left: 40px; /* Increased padding for better spacing */
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.radio-label:hover {
  color: #007bff; /* Change text color on hover */
}

.radio-label input[type="radio"] {
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid black;
  background-color: #fff;
  display: grid;
  place-content: center;
   transform: translateY(-0.075em);
}

.radio-label input[type="radio"]::before{
  content: "";
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em blue;
}

.radio-label input[type="radio"]:checked::before {
  transform: scale(1);
}









.formBox input[type="submit"] {
  background-color: #fdfeff;
  border: 1px solid blue;
  color: blue;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.formBox input[type="submit"]:hover {
  background-color: #5db2ff;
  color: white;
}
