.dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .chart-section {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
  }
  
  .chart-container {
    width: 400px;
    height: 300px;
  }
  
  .review-time{
    flex: 1; /* Allow it to grow inside flex container */
    min-width: 250px;
    max-width: 90%;
    background-color: #ebebebe7;
    padding: 16px;
    gap: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    justify-content: center;
    text-align: center;
  }
  
  .review-value {
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-top: 5px;
  }

  .review-value strong{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-top: 5px;
  }
  
  .top-lists {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .list-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  .list-card h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .list-card ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .list-card li {
    margin-bottom: 6px;
  }
  
  .pie-label {
    fill: white;
    font-size: 14px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: central;
    pointer-events: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

  .pie-chart{
    text-align: center;
    font-size: 24px;
    gap: 25px;
  }

  .pie-chart p{
    color: black;
  }

  .list-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 4px 4px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 4px;
    margin-left: 16px;
  }
  
  .list-item {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    margin-right: 8px;
  }
  
  .score {
    text-align: right;
  }

  .report-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  
  .report-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .report-btn {
    padding: 0.4rem 0.8rem;
    background: linear-gradient(to right, #cba0db, #ffffff);
    border: none;
    border-radius: 8px;
    font-size: 0.85rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .report-btn:hover {
    background: linear-gradient(to right, #b88fd1, #f2f2f2);
  }
  