.link-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #1e1e2f;
    color: white;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.link-container a {
    position: relative;
    font-size: 2rem;
    text-decoration: none;
    padding: 2px;
    margin: 3px;
    color: white;
  }
  
  .link-container a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease-in-out;
  }
  
  .link-container a:hover::after {
    width: 100%;
  }
  
